# RestAPI
/api/node_modules
/api/public/hot
/api/public/storage
/api/storage/*.key
/api/vendor
/api/.env
/api/.env.backup
/api/.phpunit.result.cache
/api/Homestead.json
/api/Homestead.yaml
/api/npm-debug.log
/api/yarn-error.log
/api/.idea
/api/.vscode

# Backend NextJs

# dependencies
/backend/node_modules
/backend/.pnp
/backend/.pnp.js

# testing
/backend/coverage

# next.js
/backend/.next/
/backend/out/

# production
/backend/build

# misc
/backend/.DS_Store
/backend/*.pem

# debug
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*

# local env files
/backend/.env.local
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local

# vercel
/backend/.vercel

# Frontend NextJs
# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/*.pem

# package-lock.json
/frontend/package-lock.json

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# local env files
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# vercel
/frontend/.vercel


# NUXTJS tailwindcss Portfolio
# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
/nuxtjs-tailwindcss-portfolio/logs
/nuxtjs-tailwindcss-portfolio/*.log
/nuxtjs-tailwindcss-portfolio/npm-debug.log*
/nuxtjs-tailwindcss-portfolio/yarn-debug.log*
/nuxtjs-tailwindcss-portfolio/yarn-error.log*

# Runtime data
/nuxtjs-tailwindcss-portfolio/pids
/nuxtjs-tailwindcss-portfolio/*.pid
/nuxtjs-tailwindcss-portfolio/*.seed
/nuxtjs-tailwindcss-portfolio/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
/nuxtjs-tailwindcss-portfolio/lib-cov

# Coverage directory used by tools like istanbul
/nuxtjs-tailwindcss-portfolio/coverage

# nyc test coverage
/nuxtjs-tailwindcss-portfolio/.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
/nuxtjs-tailwindcss-portfolio/.grunt

# Bower dependency directory (https://bower.io/)
/nuxtjs-tailwindcss-portfolio/bower_components

# node-waf configuration
/nuxtjs-tailwindcss-portfolio/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
/nuxtjs-tailwindcss-portfolio/build/Release

# Dependency directories
/nuxtjs-tailwindcss-portfolio/node_modules/
/nuxtjs-tailwindcss-portfolio/jspm_packages/

# TypeScript v1 declaration files
/nuxtjs-tailwindcss-portfolio/typings/

# Optional npm cache directory
/nuxtjs-tailwindcss-portfolio/.npm

# Optional eslint cache
/nuxtjs-tailwindcss-portfolio/.eslintcache

# Optional REPL history
/nuxtjs-tailwindcss-portfolio/.node_repl_history

# Output of 'npm pack'
/nuxtjs-tailwindcss-portfolio/*.tgz

# Yarn Integrity file
/nuxtjs-tailwindcss-portfolio/.yarn-integrity

# dotenv environment variables file
/nuxtjs-tailwindcss-portfolio/.env

# parcel-bundler cache (https://parceljs.org/)
/nuxtjs-tailwindcss-portfolio/.cache

# next.js build output
/nuxtjs-tailwindcss-portfolio/.next

# nuxt.js build output
/nuxtjs-tailwindcss-portfolio/.nuxt

# Nuxt generate
/nuxtjs-tailwindcss-portfolio/dist

# vuepress build output
/nuxtjs-tailwindcss-portfolio/.vuepress/dist

# Serverless directories
/nuxtjs-tailwindcss-portfolio/.serverless

# IDE / Editor
/nuxtjs-tailwindcss-portfolio/.idea

# Service worker
/nuxtjs-tailwindcss-portfolio/sw.*

# macOS
/nuxtjs-tailwindcss-portfolio/.DS_Store

# Vim swap files
/nuxtjs-tailwindcss-portfolio/*.swp
